#title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gridContainer {
    border:solid;
    display: flex;
    width: 960px;
    height: 960px;
    flex-direction: column;
    flex: 1 1 auto;
}

.gridRow {
    border: solid;
    display: flex;
    flex: 1 1 auto;
}

.gridSquare {
    border: solid;
    display: flex;
    flex: 1 1 auto;
}